<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <script src="/code.js"></script>
  <h1 class="pageTitle">Brayden's Webpage</h1>

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>

    <p>The purpose of this website is to not only inform others about me and some of the things I've done,
      but to also show off my awesome HTTP server. Use the links above to navigate
      the page.
    </p>


  
</body>
</html>