.main{
    width: 95%;
    margin: 0px auto;
}

.rankit{
    font-size: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-description{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-links{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    font-size: 24px;
    flex-wrap: wrap;
}

.main-btn{
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    border-radius: 60px;
    transform: scale(1);
    transition: all 0.2s ease;
    z-index: 0;
}

.main-btn > * {
    padding: 16px;
}

.main-btn:hover{
    background-color: var(--grey-2);
    transform: scale(1.05);
}

.featured-lists-container{
    font-size: 24px;
}

.featured-lists{
    padding-bottom: 64px;
    width: 1120px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.featured-list-display{
    width: 350px;
    border: 6px solid var(--grey-4);
    display: flex;
    flex-direction: column;
}

.list-profile-btn{
    height: 50px;
    background-color: var(--grey-2);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    text-decoration: none;
    color: white;
}

.list-profile-btn div{
    padding: 0px 20px;
}

.list-profile-btn:hover{
    background-color: var(--grey);
}

.list-properties-words{
    flex: 1;
}