.my-lists-container{
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.my-lists{
    width: 1066px;
    background-color: var(--grey-2);
    margin: 0px auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.my-lists-actions{
    background-color: var(--grey);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.my-lists-create{
    padding: 16px;
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    width: 80px;
}

.my-lists-create:hover{
    width: 100%;
    background-color: var(--grey-3);
}

.my-lists-lists{
    display: flex;
    flex-wrap: wrap;
}

.list-display{
    background-color: var(--grey-3);
    margin: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.list-image{
    height: 300px;
    background-color: black;
}

.list-properties{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.list-name{
    text-align: center;
    margin: 8px;
}

.list-type{
    text-align: center;
    margin-bottom: 8px;
}

.my-list-buttons{
    display: flex;

}

.my-list-btn{
    height: 50px;
    background-color: var(--grey-2);
    margin: 4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    text-decoration: none;
    color: white;
}

.my-list-btn:hover{
    background-color: var(--grey);
}