.navbar-container{
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.navbar{
    margin-top: 61px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: none;
    transition: all 0.3s ease;
    border-right: 1px solid transparent;
}

.navbar:hover{
    border-right: white 1px solid;
    background-color: rgb(48, 48, 48);
}


.spacer{
    height: 20px;
}
.nav-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-wrap: nowrap;
    height: 50px;
    font-size: 20px;
    background-color: none;
    transition: background-color 0.1s ease ;

}

.nav-item-content{
    margin-left: 20px;
   
}

.nav-item:hover{
    background-color: rgb(24, 24, 24)
}

.profile-nav-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-wrap: nowrap;
    height: 150px;
    font-size: 20px;
    background-color: none;
    transition: background-color 0.1s ease ;
}

.profile-nav-item:hover{
    background-color: rgb(24, 24, 24)
}

.profile-link-content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.profile-image{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid var(--grey-2)
}

.home-link{
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.home-link-content{
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.searchbar-container{
    height: 60px;
    width: 100%;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px; 
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
    z-index: 1;
}

.searchbar-container > * {
    padding: 0 20px;
}

.searchbar-box-1{
    flex: 1;
    z-index: 1;
}
.searchbar-box-2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar-box-3{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.searchbar{
    width: 400px;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 20px;;
    border: 1px solid white;
    transition: width 0.5s ease;
}

.searchbar:hover{
    width: 450px;
}

.main-container{
    min-width: 640px;
    margin: 70px 180px;    
}

.searchbox-container{
    background-color: var(--grey-2);
    display: flex;
    flex-direction: column;
}

.search-input{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input input{
    outline: none;
    background-color: var(--grey-3);
    color: white;
    width: 600px;
    font-size: 23px;
    padding: 10px;
    text-align: center;
    border: 2px solid var(--grey);
    border-radius: 70px;
    margin: 16px;
}

.search-results-container{
    min-height: 100px;
    width: 900px;
    margin: 0px auto;  
    margin-bottom: 20px;  
}

.search-results{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.search-list{
    display: flex;
    background-color: var(--grey-3);
    color: white;
    text-decoration: none;
}


.search-image{
    width: 80px;
    height: 80px;
    padding: 8px;
}

.search-name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}