.list-view-container{
    width: 95%;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.list-view{
    display: flex;
}


.raw-list-container{
    background-color: var(--grey-4);
    display: flex;
    flex-direction: column;
    width: 545px;
    height: calc(100% - 4px);
    border: 2px solid var(--grey-2)
}

.raw-list{
    margin: 20px;
}

.imageless-item-container{
    height: 76px;
    display: flex;
    width: 196px;
    background-color: var(--grey-2);
    border: 2px solid var(--grey-3);
    justify-content: center;
    align-items: center;
}

.item-container{
    height: 76px;
    display: flex;
    width: 196px;
    background-color: var(--grey-2);
    border: 2px solid var(--grey-3);
    justify-content: space-between;
    align-items: center;
}

.item-name{
    font-size: 20px;
}

.list-view-attributes-container{
    width: 500px;
    background-color: var(--grey-2);
    position: relative;
}

.list-view-attributes{
    padding: 16px;
}

.list-view-title{
    margin: 0px;
    font-size: 50px; 
}

.list-view-owner{
    width: 100%;
    position: absolute;
    left: 0px;
    background-color: var(--grey);
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.list-view-owner div {
    margin-left: 16px;
}

.list-view-owner:hover{
    background-color: rgb(103, 103, 103)
}

.list-view-description{
    margin-top: 48px;
    margin-bottom: 55px;
}

.list-view-edit-button{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--grey-3);
    width: 100%;
    text-align: center;
}

.list-view-edit-button:hover{
    background-color: rgb(39, 39, 39);
}

.list-view-edit-button div{
    padding: 16px;
}

.popup-container{
    width: fit-content;
    height: fit-content;
    position: relative;
    
}

.popup-images-container{
    top: 0;
    background-color: var(--grey-2);
    width: 900px;
    height: 235px;
    z-index: 1;
    border-bottom: 3px solid var(--grey-4);
    overflow-y: scroll
}

.popup-images{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.upload-img-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    width: fit-content;
}

.user-images{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.user-image-container{
    display: flex;
    flex-direction: column;
}

.user-image{
    width: 100px;
    height: 100px;
    border: 2px solid var(--grey);
    position: relative;
    border-color: var(--grey);
}

.image-el{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-image-desc-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--grey);
    box-sizing: border-box;
    border: 2px solid var(--grey);
    border-top: none;
}

.no-image-desc{
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-image-delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--grey);
    box-sizing: border-box;
    border: 2px solid var(--grey);
    border-top: none;
}

.user-image-delete-button:hover{
    background-color: var(--grey-2);
}

.popup-edit-l{
    width: 900px;
    background-color: var(--grey-3);
    padding-bottom: 1px;
}

.edit-list-image{
    width: 180px;
    height: 180px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-list-inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    height: fit-content;
}

.edit-list-inputs input[type="text"]{
    width: 97%;
}



.edit-list-submit{
    float: right;
    width: 150px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 105, 105);
}

.edit-list-submit:hover{
    background-color: var(--grey-2);
}

.comments-container{
    margin: 0px auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.make-comment{
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}

.make-comment-who{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 10px;
}


.comment-profile-image{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 3px solid var(--grey-2);
    border-radius: 10px;
}

.make-comment-username{
    font-size: 30px;
}

.make-comment-content{
    display: flex;
    width: 600px;

}

.make-comment-input{
    flex: 1;
    background-color: var(--grey-3);
    height: 30px;
    border: 2px solid var(--grey-2);
    padding: 0px 20px;
    color: white;
    font-size: 16px;
    outline: none
}

.make-comment-post-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border: 2px solid var(--grey-2);
    background-color: var(--grey-3);
}

.make-comment-post-button:hover{
    background-color: var(--grey);
}

.comment{
    display: flex;
    flex-direction: column;
    width: 600px;

}

.comment-who{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--grey-3);
    border-radius: 10px 10px 0px 0px;
    width: fit-content;
    text-decoration: none;
}

.comment-username{
    font-size: 20px;
    padding-right: 20px;
    color: white;
}

.comment-content{
    padding: 16px;
    background-color: var(--grey-3);
    border-radius: 0 10px 10px 10px;
}