<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <h1 class="pageTitle">Experience</h1>


    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>

    <p>Here is a list of the last three jobs I had:</p>
    <ul class="listStuff">
      <li>Firefighter (23 years) - I was a Firefighter for most of my life. I remember my first 
        time putting out a fire when I was just two months old. That was 18 years ago. I don't 
        know where the other 5 years of firefighting came from, but it happened nonetheless.
      </li>
      <li>President (4 years) - Most people don't know this, but I was actually elected instead of Trump in 2016.
        My name wasn't on the ballot, but I still got more votes than Donald and Hillary.
      </li>
      <li>Professional Soccer Player (5.5 years) - I played for the Argentines when they won the world
        cup back in 2022. I was the goalkeeper.
      </li>
    </ul>

  
</body>
</html>