<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="pageTitle">Projects</h1>

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>

    <p>Here are three programming projects I have worked on:</p>
    <ul class="listStuff">
      <li>Fractal Visualizer - I refactored this program as an assignment for CS 1440.
        This program could "draw" different fractals that the user specified to the screen. It
        was pretty cool.
      </li>
      <li>Data Processing - This was an assignment I did for my online CS 2410 class. I had to write
        a javascript program that could collect specific data from a dataset of transactions and customers.
        It was pretty easy.
      </li>
      <li>Simple HTTP Server - I very very recently made an HTTP server from the ground up. It was for my super
        lit CS 2610 class. I made a website that had a bunch of information about me.
      </li>
    </ul>


  
</body>
</html>